<div class="section">
  <div class="container">
    <h1 class="title has-text-centered">Categories</h1>
      <div class="columns is-multiline">
        <%= render partial: 'category',
                   collection: @categories,
                   locals: { is_index: true, name_is_link: true } %>
      </div>
  </div>
</div>
