<div class="section">
  <div class="container">
    <h1 class="title has-text-centered">Products</h1>

    <div class="columns is-multiline">
      <%= render partial: 'product',
                collection: @products,
                locals: { index: true, name_is_link: true } %>
    </div>
  </div>
</div>
