<h1>Products</h1>

<% @products.each do |product| %>
  <div>
    <h3><%= product.brand.name %></h3>
    <%= link_to product.name, product %>

    <% if product.image.present? %>
      <%= image_tag product.image %>
    <% end %>
  </div>
<% end %>
