<div class="section">
  <div class="container">
    <h1 class="title has-text-centered">Products</h1>

    <div class="columns is-multiline">
      <% @products.each do |product| %>
        <%= render partial: 'product',
                  object: product,
                  locals: { index: true, name_is_link: true } %>
      <% end %>
    </div>
  </div>
</div>
